{#
/**
 * @file watson_form_entity.html.twig
 * Default theme implementation to present Watson form data.
 *
 * This template is used when viewing Watson form pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_watson_form_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('watson_form_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
