<form method="post"
  action="https://example.com/test-form-action"
  pageid="11111" siteid="22222" parentpageid="33333">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td style="padding: 5px 0px 0px 5px;">
          <div style="position: relative; overflow: hidden; width:300px;"
            id="container_EMAIL">
            <div style="width: 294px; overflow: hidden; ">
              <div class="fieldLabel" style="width: 294px; margin: 5px 3px; ">
                Email<span class="required">*</span></div>
            </div>
            <input type="text" name="Email" id="control_EMAIL" label="Email"
              class="textInput defaultText"
              style="margin: 0 3px 5px 3px; height: 20px; width: 294px;" />
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px 0px 0px 5px;">
          <div style="position: relative; overflow: hidden; width:300px;"
            id="container_COLUMN14">
            <div style="width: 294px; overflow: hidden; ">
              <div class="fieldLabel" style="width: 294px; margin: 5px 3px; ">
                First Name<span class="required">*</span></div>
            </div>
            <input type="text" name="IBM_FIRST_NAME" id="control_COLUMN14"
              label="First Name" class="textInput defaultText"
              style="margin: 0 3px 5px 3px; height: 20px; width: 294px;" />
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px 0px 0px 5px;">
          <div style="position: relative; overflow: hidden; width:300px;"
            id="container_COLUMN15">
            <div style="width: 294px; overflow: hidden; ">
              <div class="fieldLabel" style="width: 294px; margin: 5px 3px; ">
                Last Name<span class="required">*</span></div>
            </div>
            <input type="text" name="IBM_LAST_NAME" id="control_COLUMN15"
              label="Last Name" class="textInput defaultText"
              style="margin: 0 3px 5px 3px; height: 20px; width: 294px;" />
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px 0px 0px 5px;">
          <div style="position: relative; overflow: hidden; width:300px;"
            id="container_COLUMN6">
            <div style="width: 294px; overflow: hidden; ">
              <div class="fieldLabel" style="width: 294px; margin: 5px 3px; ">
                specialty</div>
            </div><select name="COLUMN6" id="control_COLUMN6" label="specialty"
              class="selectInput defaultText"
              style="margin: 0 3px 5px 3px; height: 20px; width: 294px;">
              <option value="" selected="">Select one</option>
              <option value="Other1">Other1</option>
              <option value="Other2">Other2</option>
              <option value="Other3">Other3</option>
              <option value="Other4">Other4</option>
              <option value="Other5">Other5</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px 0px 0px 5px;">
          <div style="position: relative; overflow: hidden; width:300px;"
            id="container_COLUMN20">
            <div style="width: 294px; overflow: hidden; ">
              <div class="fieldLabel" style="width: 294px; margin: 5px 3px; ">
                Country<span class="required">*</span></div>
            </div>
            <input type="text" name="COUNTRY" id="control_COLUMN20"
              label="Country" class="textInput defaultText"
              style="margin: 0 3px 5px 3px; height: 20px; width: 294px;" />
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px 0px 0px 5px;">
          <div style="position: relative; overflow: hidden; width:300px;"
            id="container_COLUMN3">
            <div style="margin: 0px 0px 0px 3px;">
              <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr style="height: 20px">
                    <td class="fieldLabel" style=""><label
                        class="yesNoCheckboxLabel"><input type="checkbox"
                          name="CONFIRMED_EMAIL_OPT_IN" id="control_COLUMN3"
                          label="I agree" />I agree</label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td id="errorMessageContainerId" class="formErrorMessages"
          style="display: none;">&nbsp;</td>
      </tr>
      <tr>
        <td style="padding: 5px 0px 0px 5px;">
          <div style="position: relative; overflow: hidden; width:300px;">
            <table cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td style="padding-right: 10px;"><input type="submit"
                      class="defaultText buttonStyle" value="Submit" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td><input type="hidden" name="CURRENCY_ISO_CODE" id="control_COLUMN65"
            value="USD" /></td>
      </tr>
      <tr>
        <td><input type="hidden" name="LAST_CAMPAIGN_ID" id="control_COLUMN63"
            value="TBD" /></td>
      </tr>
      <tr>
        <td><input type="hidden" name="LAST_CAMPAIGN_ID_STATUS"
            id="control_COLUMN64" value="TBD" /></td>
      </tr>
      <tr>
        <td><input type="hidden" name="LEADSOURCE" id="control_COLUMN11"
            value="BOOSTLead" /></td>
      </tr>
      <input type="hidden" name="formSourceName" value="StandardForm" />
      <!-- DO NOT REMOVE HIDDEN FIELD sp_exp --><input type="hidden"
        name="sp_exp" value="yes" />
    </tbody>
  </table>
</form>
